.Hero{
    height: 100vh;
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.left_hero{
    width: 60%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.right_hero{
    width: 40%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}


.yoga_pic{
    max-height: 200px;
    max-width: 200px;
}


.hero_button button{
    background-color: transparent;
    margin-top: 2rem;
    transition: 350ms;
    border-radius: 8px;
    border: 1px solid white;
    font-weight: 400;
}

.hero_button button:hover{
    transform: scale(0.95);
}